.App {
    text-align: center;
    height: 100vh;
}

.results {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    margin: 3px;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.modal button {
    transform: translateY(20vh);
}

.popup {
    background: rgba(255, 255, 255, 0.9);
    height: 40vh;
    transform: translateY(20vh);
}

.popup p {
    transform: translateY(20vh);
}