.quiz {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.vraag{
    flex-grow: 1;
}

.vraag p {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.vraag img {
    max-height: 350px;
}

.antwoorden {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;
}

.antwoord {
    width: calc(50% - 22px);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}


.selected {
    border: 1px solid rgba(121, 4, 4, 0.5);
}

.correct {
    background-color: rgba(59, 241, 181, 0.5);
    color: rgba(4, 121, 82, 0.5);
    font-weight: bold;
    border: 1px solid rgba(4, 121, 82, 0.5);

}

.wrong {
    background-color: rgba(243, 158, 158, 0.5);
    color: rgba(121, 4, 4, 0.5);
    font-weight: bold;
}
